{% extends 'base.html' %}

{% block content %}

<div class="card text-center mb-3" style="width: 75%; margin:auto; margin-top:2rem;">
	  <div class="card-body">
	    <h5 class="card-title">Vision of the School</h5>
	    <p class="card-text">To make {{ schoolName }} a place where exploration, creativity, and imagination make learning exciting and where all learners aspire to reach their dreams.</p>
	  </div>
	</div>

<div class="card text-center mb-3" style="width: 75%; margin:auto;">
	  <div class="card-body">
	    <h5 class="card-title">Our Mission</h5>
	    <p class="card-text">Our aim is to enable boys and girls to develop their individual potential through exposure to a holistic range of academic, sporting, creativ and cultural activities. Our primary goal is for our students to acquire the Knowledge, skills and attitudes needed to produce well-adjusted, self-confident young boys and girls prepared for the academic, social and life challenges of the future.</p>
	  </div>
	</div>

<div class="card text-center mb-3" style="width: 75%; margin:auto;">
	  <div class="card-body">
	    <h5 class="card-title">Principal's Message</h5>
	    <p class="card-text">No organization can survive for long on the past glory, nor should the set-back depress one. Let us change for the better and build ourselves into a dynamic and vibrant team we all shall be proud of.
Our vision is to become an institution where learning is a joy. Our mission is to prepare responsible citizens for the prosperity and well-being of our society.</p>
	  </div>
	</div>

<div class="card text-center mb-3" style="width: 75%; margin:auto;">
	  <div class="card-body">
	    <h5 class="card-title">Chairman's Message</h5>
	    <p class="card-text">{{ schoolName }} has rightly earned a place of privilege distinction in the realm of Academic excellence. The distinctive feature of the School system is that it seeks to balance learning with other achievements and opportunities. The aim of {{ schoolName }} is to provide a first class academic holistic education in an atmosphere that is both humane and cultured.
{{ schoolName }} is a school proud of its glorious past and conscious of the need to prepare the students for a life of leadership, service and personal fulfilment in the twenty first century.
It is my earnest hope that it sufficiently explains the reasons for your child being nurtured in the {{ schoolName }} environs.</p>
	  </div>
	</div>

{% endblock %}