{% extends 'base.html' %}

{% block content %}

<div class="card text-center mb-3" style="width: 70%; margin:2em auto;">
  <div class="card-body">
    <h5 class="card-title">Students</h5>
    <p class="card-text">Check List of Students.</p>
    <a href="/dashboard/students/" class="btn btn-primary">Show</a>
  </div>
</div>

<div class="card text-center mb-3" style="width: 70%; margin:auto;">
  <div class="card-body">
    <h5 class="card-title">Staff</h5>
    <p class="card-text">Check List of Staff Members.</p>
    <a href="/dashboard/staff" class="btn btn-primary">Show</a>
  </div>
</div>

<div class="card text-center mb-3" style="width: 70%; margin:auto;">
  <div class="card-body">
    <h5 class="card-title">Applications</h5>
    <p class="card-text">List of all Applications Submitted through online portal.</p>
    <a href="/dashboard/applications" class="btn btn-primary">Show</a>
  </div>
</div>

<div class="card text-center mb-3" style="width: 70%; margin:auto;">
  <div class="card-body">
    <h5 class="card-title">Logout</h5>
    <p class="card-text">Don't forget to logout before you go.</p>
    <a href="/logout/" class="btn btn-primary">Logout</a>
  </div>
</div>

{% endblock %}