{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center; margin-top:10px;" >Students List</h1>
	<table class="table" style="margin:20px auto; width:90%;" >
	  <thead>
	    <tr>
	      <th scope="col">Admission No.</th>
	      <th scope="col">First Name</th>
	      <th scope="col">Last Name</th>
	      <th scope="col">Class</th>
	      <th scope="col">Father Name</th>
	      <th scope="col">Phone Number</th>
	    </tr>
	  </thead>
	  <tbody>
	  {% for student in studentsData %}
	    <tr>
	      <th scope="row">{{ student.admNum }}</th>
	      <td>{{ student.firstName }}</td>
	      <td>{{ student.lastName }} </td>
	      <td>{{ student.studentClass }}</td>
	      <td>{{ student.fatherName }}</td>
	      <td>{{ student.phoneNumber }}</td>
	      <td><button class="btn btn-primary" type="submit" style="display:block; margin:2.5em auto;" ><a href="/remove/{{ student.admNum }}" style="text-decoration:none; color:white; " >Remove</a></button></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	
	<h1 style="text-align:center; margin-top:10px;" >Admission Applications</h1>
	<table class="table" style="margin:20px auto; width:90%;" >
	  <thead>
	    <tr>
	      <th scope="col">Application ID</th>
	      <th scope="col">First Name</th>
	      <th scope="col">Last Name</th>
	      <th scope="col">Class</th>
	      <th scope="col">Father Name</th>
	      <th scope="col">Phone Number</th>
	    </tr>
	  </thead>
	  <tbody>
	  {% for application in applicationsData %}
	    <tr>
	      <th scope="row">{{ application.appId }}</th>
	      <td>{{ application.firstName }}</td>
	      <td>{{ application.lastName }} </td>
	      <td>{{ application.studentClass }}</td>
	      <td>{{ application.fatherName }}</td>
	      <td>{{ application.phoneNumber }}</td>
	      <td><button class="btn btn-primary" type="submit" style="display:block; margin:2.5em auto;" ><a href="/approve/{{ application.appId }}" style="text-decoration:none; color:white; " >Approve</a></button></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	
    <button class="btn btn-primary" type="submit" style="display:block; margin:2.5em auto;" ><a href="/logout" style="text-decoration:none; color:white;" >Logout</a></button>

{% endblock %}