{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center; margin-top:10px;" >Fee Structure</h1>
<table class="table" style="margin:20px auto; width:90%;" >
  <thead>
    <tr>
      <th scope="col">Class</th>
      <th scope="col">Type</th>
      <th scope="col">Fee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> - </td>
      <td>Admission Fee</td>
      <td>₹4000</td>
    </tr>
    
    <tr>
      <td> - </td>
      <td>Transport Charges</td>
      <td>₹1800</td>
    </tr>
    
    <tr>
      <td>Nursery</td>
      <td>Tuition Fee</td>
      <td>₹1280</td>
    </tr>
    
    <tr>
      <td>LKG</td>
      <td>Tuition Fee</td>
      <td>₹1280</td>
    </tr>
    
    <tr>
      <td>UKG</td>
      <td>Tuition Fee</td>
      <td>₹1280</td>
    </tr>
    
    <tr>
      <td>1st</td>
      <td>Tuition Fee</td>
      <td>₹1320</td>
    </tr>
    
    <tr>
      <td>2nd</td>
      <td>Tuition Fee</td>
      <td>₹1360</td>
    </tr>
    
    <tr>
      <td>3rd</td>
      <td>Tuition Fee</td>
      <td>₹1420</td>
    </tr>
    
    <tr>
      <td>4th</td>
      <td>Tuition Fee</td>
      <td>₹1480</td>
    </tr>
    
    <tr>
      <td>5th</td>
      <td>Tuition Fee</td>
      <td>₹1540</td>
    </tr>
    
    <tr>
      <td>6th</td>
      <td>Tuition Fee</td>
      <td>₹1600</td>
    </tr>
    
    <tr>
      <td>7th</td>
      <td>Tuition Fee</td>
      <td>₹1660</td>
    </tr>
    
    <tr>
      <td>8th</td>
      <td>Tuition Fee</td>
      <td>₹1720</td>
    </tr>
    
    <tr>
      <td>9th</td>
      <td>Tuition Fee</td>
      <td>₹1840</td>
    </tr>
    
    <tr>
      <td>10th</td>
      <td>Tuition Fee</td>
      <td>₹1960</td>
    </tr>
    
    <tr>
      <td>11th</td>
      <td>Tuition Fee</td>
      <td>₹2180</td>
    </tr>
    
    <tr>
      <td>12th</td>
      <td>Tuition Fee</td>
      <td>₹2350</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" type="submit" style="display:block; margin:2em auto;" ><a href="/" style="text-decoration:none; color:white; " >Pay Fees</a></button>

{% endblock %}