{% extends 'base.html' %}

{% block content %}
	
	<div class="card text-center mb-3" style="width: 75%; margin:auto; margin-top:2rem;">
	<img src="/static/images/img1.jpg" class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Welcome to {{ schoolName }} </h5>
	    <p class="card-text">Our Motive is to provide all students with dynamic learning opportunities in a nurturing environment, inspiring life-long learning and the realization of full potential.</p>
	  </div>
	</div>

	<div class="card text-center mb-3" style="width: 75%; margin:auto;">
	 <img src="/static/images/img2.jpg" class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Extracurricular Activities</h5>
	    <p class="card-text">From art and drawing to art and cooking, {{ schoolName }} offers a wide variety of extra curricular activities for all of our students.</p>
	  </div>
	</div>
	
	<div class="card text-center mb-3" style="width: 75%; margin:auto;">
	 <img src="/static/images/img3.jpg" class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Intimate Classroom Sizes</h5>
	    <p class="card-text">Each student, from the infant level through eighth grade, receives an individualized education, that can only be accomplished through our small class sizes.</p>
	  </div>
	</div>
	
	<div class="card text-center mb-3" style="width: 75%; margin:auto;">
	 <img src="/static/images/img4.jpg" class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Nurturing Environment</h5>
	    <p class="card-text">Parent’s love our webcam feature, potty training program, and nurturing environment.</p>
	  </div>
	</div>
	
	<div class="card text-center mb-3" style="width: 75%; margin:auto;">
	 <img src="/static/images/img5.jpg" class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Sense of Community</h5>
	    <p class="card-text">At {{ schoolName }} we go beyond traditional classes by emphasizing character development and offering a variety of class trips.</p>
	  </div>
	</div>
	
	<div class="card text-center mb-3" style="width: 75%; margin:auto;">
	 <img src="/static/images/img6.jpg" class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Apply for Admission</h5>
	    <p class="card-text">We enable all {{ schoolName }} Students to become the best possible version of themselves. We provide an environment where our children develop into empathetic, self-directed, critical thinkers who don’t give up when faced with challenges.</p>
	    <a href="/register" class="btn btn-primary">Apply Online</a>
	  </div>
	</div>
	
{% endblock %}